/* Base colors */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700");
body {
  font-family: Archivo, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

*:focus {
  outline: none; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #F8F8F9;
  font-size: 16px;
  line-height: 1.4;
  color: #000000; }

h1, h2, h3, h4, h5 {
  margin: 0 0 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 2.5rem;
  line-height: 1.1; }

h2 {
  font-size: 1.75rem; }

ul, nav {
  list-style: none; }

ul {
  padding: 0;
  margin: 0;
  font-size: 11px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 980px) {
    .container {
      padding: 0 40px; } }

.section {
  padding: 0 0 50px 0;
  line-height: 1.7; }
  @media screen and (min-width: 980px) {
    .section {
      padding: 0 0 100px 0; } }

.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.4; }
  @media screen and (min-width: 980px) {
    .title {
      font-size: 46px; } }

.subtitle {
  font-size: 18px;
  font-weight: 800; }
  @media screen and (min-width: 980px) {
    .subtitle {
      font-size: 26px; } }

.btn {
  color: #FFFFFF;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer; }

/*
 * Header
 */
#header {
  background: #FFFFFF;
  background-image: url(../images/macbookdeveloper.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); }

.hero {
  display: flex;
  flex-direction: column; }

.is-fullheight {
  min-height: 50vh; }
  @media screen and (min-width: 980px) {
    .is-fullheight {
      min-height: 100vh; } }

.hero-head {
  background-color: #F8F8F9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px; }

.nav-bl-dm {
  display: flex; }

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 40px 20px; }
  .hero-body .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .3em; }
  .hero-body .subtitle {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 2px; }
  @media screen and (min-width: 980px) {
    .hero-body .title {
      font-size: 32px; }
    .hero-body .subtitle {
      font-size: 42px; } }

/*
 * Content
 */
#about.section {
  padding: 50px 0; }
  @media screen and (min-width: 980px) {
    #about.section {
      padding: 100px 0; } }

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 0 30px; }

.wrapper {
  width: 100%;
  height: 100%;
  padding: 10px; }
  @media screen and (min-width: 980px) {
    .wrapper {
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    .wrapper {
      width: 33%; } }

.box {
  position: relative;
  max-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017), 0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03), 0 11.2px 13.4px rgba(0, 0, 0, 0.036), 0 20.9px 25.1px rgba(0, 0, 0, 0.043), 0 50px 60px rgba(0, 0, 0, 0.06); }
  .box .hide {
    opacity: 0; }
  .box .frame {
    position: absolute;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .box h2, .box p {
    position: absolute;
    color: #fff;
    z-index: 2;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s; }
  .box h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
    letter-spacing: 1px; }
  .box p {
    bottom: 0;
    font-size: 14px;
    letter-spacing: 1px; }
  .box:hover {
    transition: all .3s ease-in-out; }
  .box:hover:before {
    transition: all .3s ease-in-out; }
  .box img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all .3s ease-in-out; }
    .box img:hover {
      transition: all .3s ease-in-out; }
    .box img:after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0; }
    .box img:hover {
      transition: all .3s ease-in-out; }

.zoom-in h2 {
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
  margin: 0; }

.zoom-in p {
  text-align: center;
  top: calc(50% + 40px);
  transition: all .3s ease;
  transform: scale(1.8);
  opacity: 0; }

.zoom-in:hover img {
  transform: scale(1.1);
  filter: grayscale(100%); }

.zoom-in:hover p {
  transform: scale(1);
  transition: all .3s ease;
  opacity: 1; }

/*
 * Footer
 */
.footer {
  padding: 60px 0; }

.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 10px; }

.footer-social-links [href*="github"]::before {
  background-image: url(../images/icons/icon-github.svg); }

.footer-social-links [href*="linkedin"]::before {
  background-image: url(../images/icons/icon-linkedin.svg); }

.footer-social-links [href*="twitter"]::before {
  background-image: url(../images/icons/icon-twitter.svg); }

.footer-social-links-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.footer-copy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 12px; }

.dark-mode-toggle {
  color: #000000;
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 15px; }

.darkmode {
  background-color: #2F303A;
  color: #FFFFFF; }
  .darkmode h1, .darkmode h2, .darkmode h3, .darkmode h5, .darkmode h6 {
    color: white; }
  .darkmode #menu,
  .darkmode .hero-head {
    background-color: #2F303A; }
  .darkmode .dark-mode-toggle {
    color: #FFFFFF; }

#nav-toggle {
  display: block;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  /*
   * Just a quick hamburger
   */
  /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */ }
  #nav-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 5px;
    right: 16px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none; }
  #nav-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    #nav-toggle span:first-child {
      transform-origin: 0% 0%; }
    #nav-toggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
  #nav-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
    /*
    * But let's hide the middle one.
    */
    /*
    * Ohyeah and the last one should go the other direction
    */ }
    #nav-toggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    #nav-toggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); }
  #nav-toggle input:checked ~ ul {
    transform: none; }
  @media screen and (min-width: 980px) {
    #nav-toggle {
      display: none; } }

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -190px;
  padding: 30px;
  padding-top: 125px;
  background-color: #F8F8F9;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menu li {
    padding: 10px 0;
    font-size: 22px; }

.nav-menu {
  display: none; }
  .nav-menu ul {
    display: flex; }
    .nav-menu ul > li {
      padding: 10px; }
  @media screen and (min-width: 980px) {
    .nav-menu {
      display: block; } }
